mixin replace-action(data)
  .dafault-action
    .dafault-action__title: +h2(data[0])
    if (data[1])
      .dafault-action__inmap
        +icons('#ic_gps', 20)
        a(href=''+data[1]+'') Смотреть на карте
    .dafault-action__back
      a(href='/'): +icons('#ic_back', 20)