.replace-action {
    height: 70px;
    display: flex;
    align-items: center;
    max-width: rem(850);

    &__title {
        flex-grow: 1;
    }

    &__inmap {
        display: flex;

        & a {
            color: $red;
            border-bottom: 1px dashed $red;
        }

        & svg {
            margin-right: rem(8);
        }
    }
}