$black: #0b0e18;
$white: #fff;
$darkViolet: #161b37;
$violet: #A83BB1;
$blue: #309EC2;
$grayBlue: #929292;
$red: #E2243C;
$dark: #212121;
$gray: #929292;
$lgray: #E6E6E6;
$mgray: #d8d8d8;
$yellow: #C4CB4A;
$gold: #C59900;

/* font */


/* media breakpoints */

$w1660: 1660px;
$w1440: 1440px;
$w1376: 1376px;
$w1280: 1280px;
$w1100: 1100px;
$w1024: 1024px;
$w940: 940px;
$w760: 769px;
$w680: 679px;
$w580: 580px;
$w480: 480px;
$w360: 360px;

/*  */