mixin history-open()
  .history-open 
    .history-open__wrp
      .history-open__title История открытий
      .history-open__list
        each item in [1,2,3,4,5,6,7,8,,9,10]
          .history-open-item
            .history-open-item__phone +7 (368) 597 98 65
            .history-open-item__date 23.01.2021 в 13:39