mixin register-confirm-phone()
  .confirm-phone
    .confirm-phone__logo: img(src="/img/common/logo.svg")
    .confirm-phone__title Подтверждение номера
    .confirm-phone__subtitle Для верификации телефонного номера выберите метод доставки кода
    .confirm-phone__form
      form(action="#")
        .form
          .form__item.form__item--confirm-type
            .form__subitem: +radio('СМС-код', 'phone-confirm-type', '1', true)
            .form__subitem: +radio('Телефонный звонок', 'phone-confirm-type', '2', false)
          .form__item: .form__subitem: +input('text', 'Телефон')
          .form__item: .form__subitem: +input('text', 'Код из SMS')
          .form__item
            .resend-code
              .resend-code__timer Повторная отправка кода будет возможна через 59 сек
              .resend-code__button: a(href="#") Отправить повторно 
          .form__item
            .form__subitem
              button(type="submit").btn.btn-big.btn-full подтвердить