mixin menu-left()
  .menu-left-user
    .menu-left-user__label Профиль
    .menu-left-user__profile 
      a(href='/profile.html') 
        span ivanstepanov@gmail.com
        +icons('#ic_pencil')

    .menu-left-user__cash
      a(href='/my-cash.html')
        +icons('#ic_cash')
        span 1 920 руб. 

  .menu-left
    .menu-left__logo: a(href="/"): img(src="./img/common/logo.svg")
    .menu-left__nav
      ul
        li
          a(href="/")
            +icons('#ic_pin') 
            |Карта
        li
          a(href="/my-parking.html")
            +icons('#ic_parking') 
            |Мои парковки
        li
          a(href="/orders.html")
            +icons('#ic_order') 
            |Заявки
        li
          a(href="/replace-parking.html")
            +icons('#ic_replace') 
            |Подменные парковки
        li
          a(href="/my-cash.html")
            +icons('#ic_cash') 
            |Мои счет
        li
          a(href="/support.html")
            +icons('#ic_gear') 
            |Техподдержка
    .menu-left__btn
      button.btn.btn-red.btn-big(data-fancybox="" data-src="_modal-tooltip-before-parking.html" data-type="ajax") Добавить парковку 
    .menu-left__logout
      a(href='#')
        +icons('#ic_close')
        span Выйти

