.menu-left {
    padding: rem(25);
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &__logo {
        & img {
            max-width: rem(140);
            margin-right: auto;
        }

        @media screen and (max-width: $w940) {
            display: none;
        }
    }

    &__nav {


        @media screen and (min-width: $w940) {
            margin-top: rem(40);

        }

        & li {

            & a {
                display: flex;
                align-items: center;
                padding: rem(10) 0;

                &:hover {
                    color: #000;

                    & svg {
                        fill: $red;
                    }
                }
            }

            & svg {
                fill: #929292;
                margin-right: rem(16);
            }
        }
    }

    &__btn {
        text-align: center;
        flex-grow: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }


}

.menu-left-user {

    @media screen and (min-width: $w940) {
        display: none;
    }

    background-color: #eee;
    padding: rem(25);

    &__label {
        font-size: 13px;
        @include text-style-gray;
        padding-bottom: rem(3);
    }

    &__profile {

        display: flex;
        align-items: center;
        justify-content: space-between;

        & a {
            margin-right: rem(10);
            font-size: rem(16);
            white-space: nowrap;
            width: 90%;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        & svg {
            min-width: rem(18);
            width: rem(18);
            height: rem(18);
        }
    }

    &__cash {

        display: flex;
        align-items: center;
        padding-top: rem(5);

        & span {
            margin-left: rem(10);
            font-size: rem(16);
            color: #9B9B9B;
        }

        & svg {
            min-width: rem(18);
            width: rem(18);
            height: rem(18);
        }
    }
}