mixin order-action()
  .order-action
    .order-action__title: +h2('Заявки')
    .order-action__add
      button.btn.btn-red-line( data-fancybox="" data-src="_modal-add-order.html" data-type="ajax")
        +icons('#ic_crosshair', 20)
        span Добавить заявку