.header-wallet {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: rem(7);
    border-radius: rem(40);

    @media screen and (max-width: $w580) {
        display: none;
    }

    &__current {

        display: flex;
        align-items: center;
        padding-left: 10px;
        white-space: nowrap;

        & svg {
            width: rem(16);
            height: rem(16);
            margin-right: rem(10);
        }

        & span {
            font-size: rem(16);
        }
    }

    &__add a {
        display: flex;
        align-items: center;
        margin-left: rem(15);
        cursor: pointer;
    }
}