mixin box-bill(icon, text)
  .box-bill
    .box-bill__balance
      .box-bill__current
        +icons(''+icon+'')
        span= text
      .box-bill__topup
        button.btn.btn-red(data-fancybox="" data-src="/_modal-payment.html" data-type="ajax") Пополнить