include ../../blocks/modules/modal/order-add/order-add

.sh-modal
  .sh-modal__wrp
    .sh-modal__close
    .sh-modal__content
      +order-add({
        'title': 'Добавление заявки',
        'btn': 'Добавить',
      })