include ../../blocks/modules/maps-container/maps-container
  script.
    const mapsParams = [
      {
        'pin': [55.74481370529173, 37.67514980332959],
        'url': '',
        'icon': ''
      }
    ];
  +maps-container()
