extends ../layouts/noheader
include ../../blocks/modules/menu-left/menu-left
include ../../blocks/modules/header-search/header-search
include ../../blocks/modules/header-menu/header-menu
include ../../blocks/modules/header-profile/header-profile
include ../../blocks/modules/header-wallet/header-wallet
include ../../blocks/modules/maps-container/maps-container 
include ../../blocks/modules/replace/replace-action/replace-action.pug


block variables
//- include ../data/categories



block aside
  +menu-left()

block pa-header
  +header-menu()
  +header-search()
  +header-profile()
  +header-wallet()

block pa-action


block pa-main

  script.
    const mapsParams = [
      {
        'pin': [55.74481370529173, 37.67514980332959],
        'url': '/_balloon-add-parking-4.html',
        'icon': '/img/svg/ic_pin-parking.svg'
      }
    ];
  +maps-container()

block scripts


  script(src="js/main.js?v=1.70")
  script(src="js/vendor.js")
