extends ../layouts/noheader
include ../../blocks/modules/menu-left/menu-left
include ../../blocks/modules/header-search/header-search
include ../../blocks/modules/header-menu/header-menu
include ../../blocks/modules/header-profile/header-profile
include ../../blocks/modules/header-wallet/header-wallet
include ../../blocks/modules/maps-add-parking/maps-add-parking 
include ../../blocks/modules/replace/replace-action/replace-action.pug


block variables
//- include ../data/categories



block aside
  +menu-left()

block pa-header
  +header-menu()
  +header-search()
  +header-profile()
  +header-wallet()

block pa-action
  +replace-action([
    'Добавление парковки через геометку',
    '',
  ])

block pa-main
  +maps-add-parking()

block scripts


  script(src="js/main.js?v=1.70")
  script(src="js/vendor.js")
