extends ../layouts/noheader
include ../../blocks/modules/menu-left/menu-left
include ../../blocks/modules/header-search/header-search
include ../../blocks/modules/header-profile/header-profile
include ../../blocks/modules/header-wallet/header-wallet
include ../../blocks/modules/maps-container/maps-container 
include ../../blocks/modules/replace/replace-action/replace-action.pug


block variables
//- include ../data/categories



block aside
  +menu-left()

block pa-header
  +header-search()
  +header-profile()
  +header-wallet()

block pa-action


block pa-main
  +maps-container("/_balloon-add-parking-4.html", "/img/svg/ic_pin-parking.svg")

block scripts


  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")
