extends ../layouts/register
include ../../blocks/modules/register/user-login/user-login

block variables
  include ../../data/orders


block sh-modal-content
  +user-login()

block scripts
  script(src="js/main.js?v=1.65")
  script(src="js/vendor.js")
