extends ../layouts/noheader
include ../../blocks/modules/menu-left/menu-left
include ../../blocks/modules/header-search/header-search
include ../../blocks/modules/header-menu/header-menu
include ../../blocks/modules/header-profile/header-profile
include ../../blocks/modules/header-wallet/header-wallet
include ../../blocks/modules/order/order-action/order-action 
include ../../blocks/modules/order/order-item/order-item 



block variables
  include ../../data/orders 


block aside
  +menu-left()

block pa-header
  +header-menu()
  +header-search()
  +header-profile()
  +header-wallet()

block pa-action
  +order-action()

block pa-main
  .box-orders
    .box-orders__add-modile
      button.btn.btn-red-line.btn-full( data-fancybox="" data-src="_modal-add-order.html" data-type="ajax")
        +icons('#ic_crosshair', 20)
        span Добавить заявку
    .box-orders__list
      each item in orders
        .box-orders__item
          if item.id < 3
            +order-item(item)
          else
            +order-item-noimage(item)


block scripts
  script(src="js/main.js?v=1.70")
  script(src="js/vendor.js")
