extends ../layouts/noheader
include ../../blocks/modules/menu-left/menu-left
include ../../blocks/modules/header-search/header-search
include ../../blocks/modules/header-menu/header-menu
include ../../blocks/modules/header-profile/header-profile
include ../../blocks/modules/header-wallet/header-wallet
include ../../blocks/modules/profile/profile-action/profile-action
include ../../blocks/modules/profile/profile-page/profile-page 



block variables
//- include ../data/categories


block aside
  +menu-left()

block pa-header
  +header-menu()
  +header-search()
  +header-profile()
  +header-wallet()

block pa-action
  +profile-action()

block pa-main
  +profile-page()

block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")
