extends ../layouts/register
include ../../blocks/modules/register/register-default/register-default

block variables
  include ../../data/orders 


block sh-modal-content
  +register-default()


block scripts
  script(src="js/main.js?v=1.65")
  script(src="js/vendor.js")
