extends ../layouts/register
include ../../blocks/modules/register/register-app/register-app

block variables
  include ../../data/orders


block sh-modal-content
  +register-app()

block scripts
  script(src="js/main.js?v=1.70")
  script(src="js/vendor.js")
