extends ../layouts/register
include ../../blocks/modules/register/register-recovery-form/register-recovery-form

block variables
  include ../../data/orders


block sh-modal-content
  +register-recovery-form()

block scripts
  script(src="js/main.js?v=1.70")
  script(src="js/vendor.js")
