extends ../layouts/register
include ../../blocks/modules/register/register-recovery-new/register-recovery-new

block variables
  include ../../data/orders


block sh-modal-content
  +register-recovery-new()

block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")
