extends ../layouts/noheader
include ../../blocks/modules/menu-left/menu-left
include ../../blocks/modules/header-search/header-search
include ../../blocks/modules/header-profile/header-profile
include ../../blocks/modules/header-wallet/header-wallet
include ../../blocks/modules/maps-home/maps-home
include ../../blocks/modules/map-filter/map-filter


block variables
//- include ../data/categories



block aside
  +menu-left()

block pa-header
  +header-search()
  +header-profile()
  +header-wallet()

block pa-action

  +map-filter()

block pa-main
  +maps-home()

block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")
