.bln-test-open {

    &__info {
        display: flex;
        align-items: stretch;

        @media screen and (max-width: $w480) {
            flex-wrap: wrap;
        }

    }

    &__image {
        width: 45%;

        @media screen and (max-width: $w480) {
            width: 100%;
            padding-bottom: rem(15);
        }

        & .bgimage {
            padding-top: 65%;
            @include bgimage-cover;
        }
    }

    &__desc {
        width: 65%;
        padding-left: rem(15);

        @media screen and (max-width: $w480) {
            width: 100%;
            padding-left: rem(0);
        }
    }

    &__btn {
        text-align: center;
        margin-top: rem(20);
        display: flex;
        justify-content: center;

        @media screen and (max-width: $w480) {
            flex-wrap: wrap;
        }

        & a {
            margin: 0 rem(5);

            @media screen and (max-width: $w480) {
                margin: rem(7) 0;
                padding: 0 rem(5);
                width: 50%;

                &:first-child {
                    width: 100%;
                }
            }
        }

        & .btn {
            height: rem(40);

            width: 100%;
        }
    }

    &__address {
        display: flex;
        align-items: center;

        & span {
            font-size: rem(16);
        }

        & svg {
            fill: $red;
            width: rem(11);
            height: rem(15);
            margin-right: rem(8);
        }
    }

    &__props {
        padding-left: 18px;
        padding-top: 15px;
    }

    &__footer {
        @include text-style-gray;
        text-align: center;
        margin-top: rem(20);
    }
}