.cash-payment {
    &__title {
        @include modal-title();
    }
}

.select-digit {

    padding-top: rem(0);
    padding-bottom: rem(18);

    & ul {

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 5;

        & li {

            &:last-child {
                margin-right: 0;
            }

            & a {
                color: $red;
                cursor: pointer;
                padding: rem(12) rem(7);
                display: block;



                & span {
                    border-bottom: 1px dashed $red;

                }
            }
        }
    }
}