include ../../../../views/helpers/mixins

mixin cash-payment()
  .cash-payment
    .cash-payment__title Пополнение баланса
    .cash-payment__form
      form(action='#' method='POST')
        .form
          .form__item: .form__label Сумма пополнения
          .form__item: .form__subitem: +input('text', 'Введите сумму...')
          .form__item
            .select-digit
              ul 
                li: span 300
                li: span 900
                li: span 1500
                li: span 3000
                li: span 3500
          .form__item
            button.btn.btn-full.btn-big Пополнить