mixin register-recovery()
  .register-recovery
    .register-recovery__logo: img(src="./img/common/logo.svg")
    .register-recovery__title Забыли пароль
    .register-recovery__form 
      form(action="register-recovery-form.html")
        .form
          .form__item: .form__subitem: +input('tel', 'Введите номер телефона')
          .form__item
            .form__subitem
              button(type="submit").btn.btn-full.btn-big Отправить
