.header-profile {

    margin-right: rem(30);
    margin-left: rem(30);

    @media screen and (max-width: $w580) {
        margin-right: rem(0);
    }

    &__link a {
        font-size: rem(14);
        color: #9B9B9B;
        text-decoration: underline;
        white-space: nowrap;
    }

    &_nickname {
        font-size: rem(16);
        line-height: 100%;
        white-space: nowrap;
    }
}