extends layouts/noheader
//- include ../blocks/modules/menu-categories/menu-categories


block variables
//- include ../data/categories


block aside
  div aside

block pa-header
  div pa-header

block pa-main
  div pa-main

block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")
