extends layouts/noheader
include ../blocks/modules/menu-left/menu-left


block variables
//- include ../data/categories


block aside
  +menu-left()

block pa-header
  div pa-header

block pa-main
  div pa-main

block scripts
  script(src="js/main.js?v=1.52")
  script(src="js/vendor.js")
