.register-default {



    &__logo {

        margin-top: rem(-15);

        & img {
            max-width: rem(135);
            margin: 0 auto;
        }
    }

    &__title {
        font-size: rem(24);
        line-height: 160%;
        text-align: center;
        margin-top: rem(25);
    }

    &__form {
        margin-top: rem(25);
    }

    .form__item--politic {

        margin-top: rem(25);

        & label {
            color: #838383;
            font-size: 12px;

            @media screen and (max-width: $w480) {
                font-size: 11px;

            }

            & a {
                color: #000;
                text-decoration: underline;
            }
        }
    }

}