mixin register-success()
  .register-success
    .register-success__logo: img(src="/img/common/logo.jpg")
    .register-success__title Поздравляем
    .register-success__subtitle Вы успешно зарегистрироватись на сайте
    .register-success__btn
      a(href="/register.html"): button.btn.btn-full.btn-big Войти в личный кабинет