mixin user-login()
  .user-login
    .user-login__logo: img(src="/img/common/logo.svg")
    .user-login__form
      form(action="/")
      .form
        .form__item: .form__subitem: +input('tel','Ваш номер телефона', 'phone')
        .form__item: .form__subitem: +input('password','Пароль', 'email')
        .form__item: button.btn.btn-full.btn-big(type="submit") Войти
    .user-login__recovery
      a(href="/register-recovery.html") Забыли пароль?
    .user-login__register
      a(href="/register-app.html") Зарегистрироваться