.offer-view {
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: rem(24);
        line-height: 288.19%;
        color: #000000;
    }

    &__inmap {
        & a {
            font-size: rem(14);
            line-height: 140%;
            text-decoration-line: underline;
            color: #E2243C;
        }
    }

    &__subtitle {
        font-size: rem(14);
        line-height: 140%;
        color: #9B9B9B;

        & span {
            color: #000;
        }
    }

    &__list {
        margin-top: rem(30);
    }
}