.profile-action {
    display: flex;
    align-items: center;
    height: 70px;
    margin-right: auto;
    width: 100%;
    max-width: rem(630);
    justify-content: space-between;

    &__label {
        color: $gray;
        margin-bottom: rem(5);
    }

    &__text {
        font-size: rem(24);
    }
}