mixin profile-action()
  .profile-action
    .profile-action__name
      .profile-action__label Мой профиль
      .profile-action__text ivanstepanov
    .profile-action__exit
      a(href="#logout"): button.btn.btn-line Выйти