.maps-home-button {

    @media screen and (min-width: $w580) {
        display: none;
    }

    &__top-bar {
        position: absolute;
        top: rem(15);
        right: rem(20);
        left: rem(20);

        display: flex;
        justify-content: space-between;
    }

    &__bottom-bar {
        position: absolute;
        bottom: rem(15);
        right: rem(20);
        left: rem(20);

        display: flex;
        justify-content: space-between;
    }

    &__filter,
    &__find,
    &__add,
    &__menu {
        width: 50px;
        height: 50px;
        display: inline-block;
        background-color: #fff;
        border-radius: 50%;
        z-index: 2;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #D8D8D8;
        cursor: pointer;

        & svg {
            width: 20px;
            height: 20px;
        }


    }

    &__cash {
        z-index: 2;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        & .header-wallet {
            display: flex;
            background: #fff;
            height: rem(50);
        }
    }

    &__filter {
        margin-left: auto;
        margin-right: rem(15);
    }

    &__add {
        border: 1px solid $red;
    }

    &__menu {}
}


.maps-home-button__menu.open-parent {
    left: 300px;
    z-index: 5;
    top: 0;
    border-radius: 0;
    border: navajowhite;
    filter: none;
    background: none;
    transition: left 0.3s ease 0.5s
}

.maps-home-button__menu.open-parent i {
    background: #fff
}

.sh-balloon__content>ymaps {
    @media screen and (max-width: $w580) {
        width: 100% !important;
    }
}