include ../box-bill/box-bill
include ../history-item/history-item

mixin my-cash(data)
  .my-cash
    .my-cash__balance: +box-bill('#ic_cash', 'Баланс: 1920 руб.' )
    .my-cash__bonus: +box-bill('#ic_star', 'Бонусы: 550 руб.', '/_modal-payment-bonus.html' )
    .my-cash__history
      .my-cash__history-title История транзакций
      .my-cash__history-list
        each item in data
          +history-item(item)
