include ../../../../views/helpers/mixins 

mixin offer-item(data)
  .offer-item
    .offer-item__wrp
      .offer-item__head Заявка на продажу № 384  
        span 2020-10-20 14:40:50
      .offer-item__main
        .offer-item__image
          +bgimage('/img/orders/img'+data+'.jpg')
        .offer-item__props
          .offer-item__address
            +icons('#ic_pin') 
            span ул. Ейская д 8/29
          .offer-item__props-list 
            ul
              li Тип шлагбаума: <span>ворота</span>
              li Локация: <span>55.784058, 37.621779</span>
              li Статус: <span>Успешное тестовое открытие</span>
        .offer-item__action
          .offer-item__cost Стоимость: <span>700 руб.<span>
          .offer-item__btn
            a(href='/offer-test-open.html' ): button.btn просмотр 