.footer {
    display: flex;
    justify-content: space-between;
    padding: rem(30) rem(30);
    background-color: #f8f8f8;

    &__app {
        display: flex;
    }

    &__apple-store,
    &__google-store {
        margin-left: rem(15);
        display: flex;
        align-items: center;
    }

    &__share-title {
        font-size: 12px;
        line-height: 140%;
        color: #9B9B9B;
        margin-bottom: rem(10);
    }
}

.link-store {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid $mgray;
    padding: rem(5) rem(20);

    &:hover {
        border-color: $red;
    }

    &__desc {
        font-size: 12px;
        line-height: 120%;
        color: #929292;
    }

    &__name {
        font-size: rem(16);
        font-weight: 600;
    }

    &__icon {
        margin-right: rem(15);
        display: flex;
        align-items: center;
    }

    & svg {
        fill: $red;
        width: rem(21);
        height: rem(21);
    }
}


.footer__share-list {

    & ul {
        display: flex;
    }

    & li {

        margin-right: rem(10);

        &.share-fb {
            & a {
                border-color: #4968AF;
            }

            & svg {
                fill: #4968AF;
            }
        }

        &.share-vk {
            & a {
                border-color: #1378B6;
            }

            & svg {
                fill: #1378B6;
            }
        }

        &.share-tw {
            & a {
                border-color: #1378B6;
            }

            & svg {
                fill: #1378B6;
            }
        }

        &.share-ig {
            & a {
                border-color: #BC3A7C
            }

            & svg {
                fill: #E52D45;
            }
        }

        &.share-tg {
            & a {
                border-color: #009CCD;
            }

            & svg {
                fill: #009CCD;
            }
        }

        &.share-wa {
            & a {
                border-color: #00A711;
            }

            & svg {
                fill: #00A711;
            }
        }

        & a {
            background-color: transparent;
            display: flex;
            width: rem(40);
            height: rem(40);
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            border: 1px solid transparent;

            & svg {
                width: rem(16);
                height: rem(16);
            }
        }
    }
}