mixin profile-page()
  .profile-page
    .profile-page__balance
      .profile-page__current
        +icons('#ic_cash')
      .profile-page__topup
      button.btn.btn-red Пополнить
    .profile-page__personal
      .profile-page__list
        .profile-page__item
          .profile-page__item-label Email:
          .profile-page__item-text ivanstepanov@gmail.com
        .profile-page__item
          .profile-page__item-label Имя:
          .profile-page__item-text ivanstepanov
        .profile-page__item
          .profile-page__item-label Телефоны:
          .profile-page__item-text + 7 (952) 154-25-45
          .profile-page__item-text + 7 (987) 265-63-21
