.bln-map-swap {

    max-width: 375px;

    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__status {
        @include text-style-gray;
        font-size: rem(13)
    }

    &__subtitle {
        @include text-style-gray;
        padding-left: rem(17);
        padding-top: rem(5);
        line-height: 140%;
        font-size: rem(14);
    }

    &__address {
        display: flex;
        align-items: center;
        font-size: rem(16);

        & span {
            font-size: rem(16);
        }

        & svg {
            fill: $red;
            width: rem(11);
            height: rem(15);
            margin-right: rem(8);
        }
    }

    &__props {
        padding-left: rem(17);
        padding-top: rem(15);
    }

    &__action {
        display: flex;
        justify-content: center;
        padding-top: rem(20);
    }
}