mixin video (data, title)
  .video(data-id=""+data.link+"")
    .video__preview
      +bgimage(data.preview)
    .video__action
      if title
        .video__title Испытание нашей теплицы сверхнагрузкой
      .video__button
        +icons('#ic_play', 100)
