.personal-layout {
    background: #fff;
    min-height: 100vh;
    display: flex;

    &__aside {
        width: 100%;
        max-width: 300px;
        min-width: 260px;
    }

    &__content {
        width: 100%;
        flex-grow: 1;
    }

    &__aside {
        border-right: 1px solid #ddd;
    }
}

.personal-area {

    display: flex;
    flex-direction: column;
    min-height: 100%;

    &__header {
        height: rem(90);
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 0 rem(30);
    }

    &__main {
        flex-grow: 1;
        position: relative;
    }

    &__action {
        background-color: #f8f8f8;
    }
}