.personal-layout {
    background: #fff;
    min-height: 100vh;
    display: flex;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    &__aside {
        width: 100%;
        max-width: 300px;
        min-width: 260px;
    }

    &__content {
        width: 100%;
        flex-grow: 1;
    }

    &__aside {
        border-right: 1px solid #ddd;
    }
}

.personal-area {

    display: flex;
    flex-direction: column;
    min-height: 100%;

    &__header {
        height: rem(90);
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 0 rem(30);
    }

    &__main {
        flex-grow: 1;
        position: relative;
        padding: 0 rem(30);
    }

    &__action {
        background-color: #f4f4f4;
        padding: 0 rem(30);
    }
}

.box-orders {
    max-width: 850px;
    padding: rem(30) 0
}

.page-title {

    height: 70px;
    display: flex;
    align-items: center;

    & h1 {
        font-size: rem(24);
        line-height: 160%;
    }
}

.state-tooltip {
    width: rem(16);
    height: rem(16);
    display: inline-block;
    background-image: url('../img/svg/ic_help.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    top: rem(3);
}