.map-filter {
    &__wrp {
        display: flex;
        align-items: center;
        height: 70px;
        padding: 0 rem(0);
    }

    &__title {
        padding-right: rem(30);
    }

    &__check {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }

    &__input {
        margin-right: rem(30);
    }

    &__select {
        display: flex;
        align-items: center;
    }
}