-
  const advantages = [
    {
      'title':'Бесплатная доставка по РФ',
      'icons':'/img/advantages/1.svg',
    },
    {
      'title':'Профессиональная сборка',
      'icons':'/img/advantages/2.svg',
    },
    {
      'title':'Официальная гарантия',
      'icons':'/img/advantages/3.svg',
    },
  ]
  const advantagesCatalog = [
    {
      'title':'Товар сертифицирован',
      'icons':'/img/advantages/4.svg',
    },
    {
      'title':'Установка и обслуживание',
      'icons':'/img/advantages/2.svg',
    },
    {
      'title':'Гарантия от производителя',
      'icons':'/img/advantages/5.svg',
    },
  ]

