-
  const brands = [
    '/img/brands/1.webp',
    '/img/brands/2.webp',
    '/img/brands/3.webp',
    '/img/brands/4.webp',
    '/img/brands/5.webp',
    '/img/brands/6.webp',
    '/img/brands/7.webp',
    '/img/brands/8.webp',
    '/img/brands/9.webp',
    '/img/brands/10.webp',
    '/img/brands/11.webp',
    '/img/brands/12.webp',
    '/img/brands/13.webp',
    '/img/brands/14.webp',
    '/img/brands/15.webp',
  ]

