-
  const categories = [
    {
      'icon':'/img/categories/Vector.svg',
      'link':'#',
      'text':'Кардиотренажеры',
      'sub': [
        'Многофункциональные силовые тренажеры',
        'Мультистанции для тренировок',
        'Стойки для силовых тренировок',
        'Блочные тренажеры кроссоверы',
        'Тренажеры для функционального тренинга',
        'Модульная система',
      ]
    },
    {
      'icon':'/img/categories/Vector-1.svg',
      'link':'#',
      'text':'Универсальные силовые тренажеры',
      'sub': [
        'Многофункциональные силовые тренажеры',
        'Мультистанции для тренировок',
        'Стойки для силовых тренировок',
        'Блочные тренажеры кроссоверы',
        'Тренажеры для функционального тренинга',
        'Модульная система',
        'Мультистанции для тренировок',
        'Стойки для силовых тренировок',
        'Блочные тренажеры кроссоверы',
        'Тренажеры для функционального тренинга',
        'Модульная система',
      ]
    },
    {
      'icon':'/img/categories/Vector-2.svg',
      'link':'#',
      'text':'Силовые тренажеры',
      'sub': [
        'Многофункциональные силовые тренажеры',
        'Мультистанции для тренировок',
        'Стойки для силовых тренировок',
        'Блочные тренажеры кроссоверы',
        'Тренажеры для функционального тренинга',
        'Модульная система',
        'Мультистанции для тренировок',
        'Стойки для силовых тренировок',
        'Блочные тренажеры кроссоверы',
        'Тренажеры для функционального тренинга',
        'Модульная система',
      ]
    },
    {
      'icon':'/img/categories/Vector-3.svg',
      'link':'#',
      'text':'Скамьи и стойки',
      'sub': [
        'Многофункциональные силовые тренажеры',
        'Мультистанции для тренировок',
        'Стойки для силовых тренировок',
        'Блочные тренажеры кроссоверы',
        'Тренажеры для функционального тренинга',
        'Модульная система',
        'Мультистанции для тренировок',
        'Стойки для силовых тренировок',
        'Блочные тренажеры кроссоверы',
        'Стойки для силовых тренировок',
        'Блочные тренажеры кроссоверы',
        'Модульная система',
        'Мультистанции для тренировок',
        'Стойки для силовых тренировок',
        'Блочные тренажеры кроссоверы',
        'Стойки для силовых тренировок',
        'Блочные тренажеры кроссоверы',
        'Тренажеры для функционального тренинга',
        'Модульная система',
        'Мультистанции для тренировок',
        'Стойки для силовых тренировок',
        'Блочные тренажеры кроссоверы',
        'Тренажеры для функционального тренинга',
        'Модульная система',
      ]
    },
    {
      'icon':'/img/categories/Vector-4.svg',
      'link':'/catalog.html',
      'text':'Свободные веса',
    },
    {
      'icon':'/img/categories/Vector-5.svg',
      'link':'/catalog.html',
      'text':'Растяжка и инверсия',
    },
    {
      'icon':'/img/categories/Vector-6.svg',
      'link':'/catalog.html',
      'text':'Виброплатформы',
    },
    {
      'icon':'/img/categories/Vector-7.svg',
      'link':'/catalog.html',
      'text':'Аксессуары',
    },
    {
      'icon':'/img/categories/Vector-8.svg',
      'link':'/catalog.html',
      'text':'Шведские стенки',
    },
    {
      'icon':'/img/categories/Vector-9.svg',
      'link':'/catalog.html',
      'text':'Все для массажа',
    },
    {
      'icon':'/img/categories/Vector-10.svg',
      'link':'/catalog.html',
      'text':'Активный отдых и детское',
    },
    {
      'icon':'/img/categories/Vector-11.svg',
      'link':'/catalog.html',
      'text':'Распродажа',
    },
    {
      'icon':'/img/categories/Vector-12.svg',
      'link':'/brands.html',
      'text':'Бренды',
    },

  ]

  const subcategories = [
    {
      'img':'/img/products/1.webp', 
      'title':'Многофункциональные силовые тренажеры'
    },
    {
      'img':'/img/products/2.webp', 
      'title':'Мультистанции для тренировок'
    },
    {
      'img':'/img/products/3.webp', 
      'title':'Стойки для силовых тренировок'
    },
    {
      'img':'/img/products/4.webp', 
      'title':'Блочные тренажеры кроссоверы'
    },
    {
      'img':'/img/products/5.webp', 
      'title':'Тренажеры для функционального тренинга'
    },
    {
      'img':'/img/products/6.webp', 
      'title':'Модульная система'
    },
    {
      'img':'/img/products/7.webp', 
      'title':'Эксклюзивные тренажеры'
    },
    {
      'img':'/img/products/8.webp', 
      'title':'Тренажеры TRX'
    },
    {
      'img':'/img/products/9.webp', 
      'title':'Машина Смита'
    },
  ];

  const subcategories2 = [
    {
      'img':'/img/products/1.webp', 
      'title':'Многофункциональные силовые тренажеры'
    },
    {
      'img':'/img/products/2.webp', 
      'title':'Мультистанции для тренировок'
    },
    {
      'img':'/img/products/3.webp', 
      'title':'Стойки для силовых тренировок'
    },
    {
      'img':'/img/products/1.webp', 
      'title':'Многофункциональные силовые тренажеры'
    },
    {
      'img':'/img/products/4.webp', 
      'title':'Блочные тренажеры кроссоверы'
    },
    {
      'img':'/img/products/2.webp', 
      'title':'Мультистанции для тренировок'
    },
    {
      'img':'/img/products/5.webp', 
      'title':'Тренажеры для функционального тренинга'
    },
    {
      'img':'/img/products/6.webp', 
      'title':'Модульная система'
    },
    {
      'img':'/img/products/7.webp', 
      'title':'Эксклюзивные тренажеры'
    },
    {
      'img':'/img/products/8.webp', 
      'title':'Тренажеры TRX'
    },
    {
      'img':'/img/products/9.webp', 
      'title':'Машина Смита'
    },
  ];

  const brandsMenu = [
    {
      'name' : 'Panatta',
      'img' : '/img/brands/1.webp',
    },
    {
      'name' : 'Panasonic',
      'img' :     '/img/brands/2.webp',
    },
    {
      'name' : 'Bork',
      'img' :     '/img/brands/3.webp',
    },
    {
      'name' : 'Power plate',
      'img' :     '/img/brands/4.webp',
    },
    {
      'name' : 'Precor',
      'img' :     '/img/brands/5.webp',
    },
    {
      'name' : 'Nautilus',
      'img' :     '/img/brands/6.webp',
    },
    {
      'name' : 'Yamaguchi',
      'img' :     '/img/brands/7.webp',
    },
    {
      'name' : 'Us Media',
      'img' :     '/img/brands/8.webp',
    },
    {
      'name' : 'Ab Coaster',
      'img' :     '/img/brands/9.webp',
    },
    {
      'name' : 'AeroFit',
      'img' :     '/img/brands/10.webp',
    },
    {
      'name' : 'Bosu',
      'img' :     '/img/brands/11.webp',
    },
    {
      'name' : 'Cardio Power',
      'img' :     '/img/brands/12.webp',
    },
    {
      'name' : 'BN Fitness',
      'img' :     '/img/brands/13.webp',
    },
    {
      'name' : 'Apple Gate',
      'img' :     '/img/brands/14.webp',
    },
    {
      'name' : 'Ammity',
      'img' :     '/img/brands/15.webp',
    },
  ];

  const categoriesPopup = [
    {
      'icon':'/img/categories/Vector.svg',
      'link':'#',
      'text':'Кардиотренажеры',
      'subcat': subcategories,
      'brands': brandsMenu,
    },
    {
      'icon':'/img/categories/Vector-1.svg',
      'link':'#',
      'text':'Универсальные силовые тренажеры',
      'subcat': subcategories2,
      'brands': brandsMenu,
    },
    {
      'icon':'/img/categories/Vector-2.svg',
      'link':'#',
      'text':'Силовые тренажеры',
      'subcat': subcategories,
      'brands': brandsMenu,
    },
    {
      'icon':'/img/categories/Vector-3.svg',
      'link':'#',
      'text':'Скамьи и стойки',
      'subcat': subcategories2,
      'brands': brandsMenu,
    },
    {
      'icon':'/img/categories/Vector-4.svg',
      'link':'/catalog.html',
      'text':'Свободные веса',
    },
    {
      'icon':'/img/categories/Vector-5.svg',
      'link':'/catalog.html',
      'text':'Растяжка и инверсия',
    },
    {
      'icon':'/img/categories/Vector-6.svg',
      'link':'/catalog.html',
      'text':'Виброплатформы',
    },
    {
      'icon':'/img/categories/Vector-7.svg',
      'link':'/catalog.html',
      'text':'Аксессуары',
    },
    {
      'icon':'/img/categories/Vector-8.svg',
      'link':'/catalog.html',
      'text':'Шведские стенки',
    },
    {
      'icon':'/img/categories/Vector-9.svg',
      'link':'/catalog.html',
      'text':'Все для массажа',
    },
    {
      'icon':'/img/categories/Vector-10.svg',
      'link':'/catalog.html',
      'text':'Активный отдых и детское',
    },
    {
      'icon':'/img/categories/Vector-11.svg',
      'link':'/catalog.html',
      'text':'Распродажа',
    },
    {
      'icon':'/img/categories/Vector-12.svg',
      'link':'/catalog.html',
      'text':'Бренды',
    },
  ]


