- 
  const faq = [
    {
      'title':'Как работает сервис обмена парковками ШлагSharing?',
      'answer':[
        'В московских дворах сегодня установлены десятки тысяч шлагбаумов и других ограждающих устройств, которые позволяют жителям комфортно парковать свой автотранспорт на придомовой территории. Комфорт обеспечивается за счет того, что каждый шлагбаум во дворе отсекает «чужой» транспорт от проезда, оставляя свободными парковочные места для «своих».',
        'Однако, каждый день приезжая утром на работу миллионы москвичей сталкиваются с такими же закрытыми шлагбаумами в близлежащих дворах, для которых их собственный транспорт является «чужим», что исключает возможность проезда и парковки на территории этих дворов.',
        'Таким образом, в рабочие дни и часы, во дворах московских домов пустуют миллионы парковочных мест, в ожидании «своих» автомобилей. В то самое время, когда миллионы тех же самых москвичей не могут найти место для парковки рядом с работой. ШлагSharing позволит Вам решить эту проблему и легко обменяться возможностью в дневное время парковаться в ближайшем к своей работе дворе ограждённом шлагбаумом. Взамен другому участнику обмена предоставляется возможность парковаться в дневное время в Вашем дворе, который для него является ближайшим к его месту работы.',
      ],
    }, 
    {
      'title':'Как производится поиск вариантов обмена, и при чём тут искусственный интеллект?',
      'answer':[
        'В московских дворах сегодня установлены десятки тысяч шлагбаумов и других ограждающих устройств, которые позволяют жителям комфортно парковать свой автотранспорт на придомовой территории. Комфорт обеспечивается за счет того, что каждый шлагбаум во дворе отсекает «чужой» транспорт от проезда, оставляя свободными парковочные места для «своих».',
        'Однако, каждый день приезжая утром на работу миллионы москвичей сталкиваются с такими же закрытыми шлагбаумами в близлежащих дворах, для которых их собственный транспорт является «чужим», что исключает возможность проезда и парковки на территории этих дворов.',
        'Таким образом, в рабочие дни и часы, во дворах московских домов пустуют миллионы парковочных мест, в ожидании «своих» автомобилей. В то самое время, когда миллионы тех же самых москвичей не могут найти место для парковки рядом с работой. ШлагSharing позволит Вам решить эту проблему и легко обменяться возможностью в дневное время парковаться в ближайшем к своей работе дворе ограждённом шлагбаумом. Взамен другому участнику обмена предоставляется возможность парковаться в дневное время в Вашем дворе, который для него является ближайшим к его месту работы.',
      ],
    }, 
    {
      'title':'Сколько стоит пользование сервисом ШлагSharing?',
      'answer':[
        'В московских дворах сегодня установлены десятки тысяч шлагбаумов и других ограждающих устройств, которые позволяют жителям комфортно парковать свой автотранспорт на придомовой территории. Комфорт обеспечивается за счет того, что каждый шлагбаум во дворе отсекает «чужой» транспорт от проезда, оставляя свободными парковочные места для «своих».',
        'Однако, каждый день приезжая утром на работу миллионы москвичей сталкиваются с такими же закрытыми шлагбаумами в близлежащих дворах, для которых их собственный транспорт является «чужим», что исключает возможность проезда и парковки на территории этих дворов.',
        'Таким образом, в рабочие дни и часы, во дворах московских домов пустуют миллионы парковочных мест, в ожидании «своих» автомобилей. В то самое время, когда миллионы тех же самых москвичей не могут найти место для парковки рядом с работой. ШлагSharing позволит Вам решить эту проблему и легко обменяться возможностью в дневное время парковаться в ближайшем к своей работе дворе ограждённом шлагбаумом. Взамен другому участнику обмена предоставляется возможность парковаться в дневное время в Вашем дворе, который для него является ближайшим к его месту работы.',
      ],
    }, 
    {
      'title':'Что такое бонусные баллы, как их получить и потратить?',
      'answer':[
        'В московских дворах сегодня установлены десятки тысяч шлагбаумов и других ограждающих устройств, которые позволяют жителям комфортно парковать свой автотранспорт на придомовой территории. Комфорт обеспечивается за счет того, что каждый шлагбаум во дворе отсекает «чужой» транспорт от проезда, оставляя свободными парковочные места для «своих».',
        'Однако, каждый день приезжая утром на работу миллионы москвичей сталкиваются с такими же закрытыми шлагбаумами в близлежащих дворах, для которых их собственный транспорт является «чужим», что исключает возможность проезда и парковки на территории этих дворов.',
        'Таким образом, в рабочие дни и часы, во дворах московских домов пустуют миллионы парковочных мест, в ожидании «своих» автомобилей. В то самое время, когда миллионы тех же самых москвичей не могут найти место для парковки рядом с работой. ШлагSharing позволит Вам решить эту проблему и легко обменяться возможностью в дневное время парковаться в ближайшем к своей работе дворе ограждённом шлагбаумом. Взамен другому участнику обмена предоставляется возможность парковаться в дневное время в Вашем дворе, который для него является ближайшим к его месту работы.',
      ],
    }, 
  ]