- 
  const filter = [
    {
      'title': 'Производители',
      'list': [
        'Kettler <span>(2)</span>',
        'LifeSpan <span>(1)</span>',
        'NordicTrack <span>(1)</span>',
        'Torneo <span>(7)</span>',
        'Fuardo',
        'Kale Kilit',
        'Mottura',
        'Viro',
        'Apecs',
        'Avers',
        'Border',
        'Evrolock',
        'Fuardo',
        'Kale Kilit',
        'Mottura',
        'Viro',
      ]
    },

    ]

    const subcat = [
      'Врезные замки',
      'Замки в сборе',
      'Врезные замки',
      'Замки для дверей из ПВХ профиля',
      'Навесные замки',
      'Противопожарные замки',
      'Узкопрофильные замки',
      'Накладные замки',
      'Кодовые замки',
      'Замки для роллет',
      'Электромеханические замки',
      'Прочие врезные замки',
      'Почтовые замки',
    ];