-
  const design = [
    '/img/design/1.webp',
    '/img/design/2.webp',
    '/img/design/3.webp',
    '/img/design/4.webp',
    '/img/design/5.webp',
    '/img/design/6.webp',
    '/img/design/7.webp',
    '/img/design/8.webp',
    '/img/design/9.webp',
    '/img/design/10.webp',
    '/img/design/5.webp',
    '/img/design/6.webp',
    '/img/design/7.webp',
    '/img/design/8.webp',
    '/img/design/9.webp',
    '/img/design/10.webp',
  ]


