
-
  const news = [
    {
      "image": "/img/news/1.webp",
      "title": "Новое кресло US MEDICA Jet",
      "desc": 'Именно тот случай, когда качество доступно!',
    },
    {
      'image': '/img/news/2.webp',
      'title': 'Новая консоль от Life Fitness!',
      'desc': 'Требуется талантливый офис-менеджера по продаже дверей',
    },
    {
      'image': '/img/news/3.webp',
      'title': 'Основы тренировки на эллиптическом тренажере',
      'desc': 'Вдохновения Вам на собственные победы!',
    },
    {
      'image': '/img/news/4.webp', 
      'title': 'Новая линейка тренажеров мирового бренда Cybex',
      'desc': 'Вдохновения Вам на собственные победы!',
    },

  ];

  const newsDetail = [
    {
      "image": "/img/news/1.webp",
      "title": "Новое кресло US MEDICA Jet",
      "desc": 'Именно тот случай, когда качество доступно!',
      "date": '17 мая 2020',
      'tags': ['Тренировки', 'Обзор']
    },
    {
      'image': '/img/news/2.webp',
      'title': 'Новая консоль от Life Fitness!',
      'desc': 'Требуется талантливый офис-менеджера по продаже дверей',
      "date": '3 мая 2020',
      'tags': ['Тренировки', 'Обзор', 'Оборудование']
    },
    {
      'image': '/img/news/3.webp',
      'title': 'Основы тренировки на эллиптическом тренажере',
      'desc': 'Вдохновения Вам на собственные победы!',
      "date": '25 мая 2020',
      'tags': ['Тренировки', 'Обзор']
    },


  ];

  const article = [
    {
      "title": 'Обзор клуба Олимп на проспекте Мира',
      "image": "/img/news/n1.webp",
      "date": "12 ноября 2020",
      "desc": 'В России количество «тренажерок» растет с 2012 года. В 2017 году фитнес-клубов стало больше на 42%. Владельцы привлекают посетителей тренажерами с изящным дизайном, СПА и бассейном, детской комнатой и выгодными распродажами. ',
      "tags": ['Обзоры залов', 'Тренировки', 'Оборудование']
    },
    {
      "title": 'Обзор клуба Олимп на проспекте Мира',
      "image": "/img/news/n2.webp",
      "date": "12 ноября 2020",
      "desc": 'В России количество «тренажерок» растет с 2012 года. В 2017 году фитнес-клубов стало больше на 42%. Владельцы привлекают посетителей тренажерами с изящным дизайном, СПА и бассейном, детской комнатой и выгодными распродажами. ',
      "tags": ['Обзоры залов', 'Тренировки']
    },
    {
      "title": 'Обзор клуба Олимп на проспекте Мира',
      "image": "/img/news/n3.webp",
      "date": "12 ноября 2020",
      "desc": 'В России количество «тренажерок» растет с 2012 года. В 2017 году фитнес-клубов стало больше на 42%. Владельцы привлекают посетителей тренажерами с изящным дизайном, СПА и бассейном, детской комнатой и выгодными распродажами. ',
      "tags": ['Обзоры залов']
    },
    {
      "title": 'Обзор клуба Олимп на проспекте Мира',
      "image": "/img/news/n4.webp",
      "date": "12 ноября 2020",
      "desc": 'В России количество «тренажерок» растет с 2012 года. В 2017 году фитнес-клубов стало больше на 42%. Владельцы привлекают посетителей тренажерами с изящным дизайном, СПА и бассейном, детской комнатой и выгодными распродажами. ',
      "tags": ['Обзоры залов', 'Тренировки', 'Оборудование']
    },

  ];