-
  const orders = [
    {
      'id': '1',
      'type': 'type-1',
      'title':'Заявка на обмен парковками № 384',
      'date':'2020-10-20 14:40:50',
      'address': 'ул. Череповецкая д. 5/14',
      'params':[
        'Статус заявки: Золотой',
        'Со счета будет списано: 200 рублей и 100 бонусов',
      ],
      'maplink': 'http://masp',
      'image': '/img/orders/img1.jpg',
      'count': '1',
      'price': '0',
      'state': 'gold',
    },

    {
      'id': '2',
      'type': 'type-2',
      'title':'Заявка на предоставление подменной парковки по бонусным баллам № 384',
      'date':'2020-10-20 14:40:50',
      'address': 'ул. Ейская д 8/29',
      'params':[
        'Режим использования: Ограниченный 10 проездов сегодня',
        'Статус заявки: Серебряный',
        'Со счета будет списано: 200 рублей и 100 бонусов',
      ],
      'maplink': 'http://masp',
      'image': '/img/orders/img2.jpg',
      'count': '0',
      'price': '700 руб.',
      'state': 'silver',

    },

    {
      'id': '3',
      'type': 'type-3',
      'title':'Заявка на получение подменной парковки по бонусным баллам № 385',
      'date':'2020-10-20 14:40:50',
      'address': 'ул. Ейская д 8/29',
      'params':[
        'Режим использования: Ограниченный 10 проездов сегодня',
        'Статус заявки: Золотой',
        'Со счета будет списано: 200 рублей и 100 бонусов',
      ],
      'maplink': 'http://masp',
      'image': '/img/orders/2.jpg',
      'count': '1',
      'price': '0',
      'state': 'gold',

    },

    {
      'id': '4',
      'type': 'type-3',
      'title':'Заявка на получение подменной парковки по бонусным баллам № 385',
      'date':'2020-10-20 14:40:50',
      'address': 'ул. Ейская д 8/29',
      'params':[
        'Режим использования: Ограниченный 10 проездов сегодня',
        'Статус заявки: Золотой',
        'Со счета будет списано: 200 рублей и 100 бонусов',
      ],
      'maplink': 'http://masp',
      'image': '/img/orders/2.jpg',
      'count': '0',
      'price': '0',
      'state': 'gold',

    },

    {
      'id': '5',
      'type': 'type-3',
      'title':'Заявка на получение подменной парковки по бонусным баллам № 385',
      'date':'2020-10-20 14:40:50',
      'address': 'ул. Ейская д 8/29',
      'params':[
        'Режим использования: Ограниченный 10 проездов сегодня',
        'Статус заявки: Золотой',
        'Со счета будет списано: 200 рублей и 100 бонусов',
      ],
      'maplink': 'http://masp',
      'image': '/img/orders/2.jpg',
      'count': '0',
      'price': '0',
      'state': 'gold',

    },

  ]

