-
  const products = [
    {
      'title':'Пресс машина GYM80 Sygnum Medical 3255',
      'image':[ '/img/products/1.webp','/img/products/2.webp','/img/products/3.webp','/img/products/4.webp','/img/products/5.webp','/img/products/6.webp', ],
      'price': '791 300',
      'oldprice': '931 300',
    },
    {
      'title':'Пресс машина GYM80 Sygnum Medical 3255 Mx 3000',
      'image':[ '/img/products/5.webp','/img/products/6.webp','/img/products/1.webp','/img/products/2.webp', ],
      'price': '59 300',
      'oldprice': '931 300',
      'stick': ['#E73124', 'Акция']
    },
    {
      'title':'Пресс машина GYM80 Sygnum Medical 3255',
      'image':[ '/img/products/3.webp','/img/products/4.webp','/img/products/5.webp','/img/products/6.webp', ],
      'price': '291 300',
      'oldprice': '931 300',
    },
    {
      'title':'Пресс машина GYM80 Sygnum Medical 3255',
      'image':[ '/img/products/2.webp','/img/products/3.webp','/img/products/4.webp','/img/products/5.webp', ],
      'price': '79 300',
      'oldprice': '93 300',
      'stick': ['#5BB92F', 'Новика']
    },
    {
      'title':'Пресс машина GYM80 Sygnum Medical 3255',
      'image':[ '/img/products/6.webp','/img/products/1.webp','/img/products/2.webp','/img/products/3.webp', ],
      'price': '91 300',
      'oldprice': '93 300',
    },
    {
      'title':'Пресс машина GYM80 Sygnum Medical 3255',
      'image':[ '/img/products/4.webp','/img/products/5.webp','/img/products/6.webp','/img/products/1.webp', ],
      'price': '191 300',
      'oldprice': '231 300',
      'stick': ['#A83BB1', 'Хит продаж']
    },
    {
      'title':'Пресс машина GYM80 Sygnum Medical 3255',
      'image':[ '/img/products/10.webp','/img/products/3.webp','/img/products/4.webp','/img/products/5.webp', ],
      'price': '79 300',
      'oldprice': '93 300',
      'stick': ['#5BB92F', 'Новика']
    },
    {
      'title':'Пресс машина GYM80 Sygnum Medical 3255',
      'image':[ '/img/products/9.webp','/img/products/1.webp','/img/products/2.webp','/img/products/3.webp', ],
      'price': '91 300',
      'oldprice': '93 300',
    },
    {
      'title':'Пресс машина GYM80 Sygnum Medical 3255',
      'image':[ '/img/products/8.webp','/img/products/5.webp','/img/products/6.webp','/img/products/1.webp', ],
      'price': '191 300',
      'oldprice': '231 300',
      'stick': ['#A83BB1', 'Хит продаж']
    },
    {
      'title':'Пресс машина GYM80 Sygnum Medical 3255',
      'image':[ '/img/products/7.webp','/img/products/5.webp','/img/products/6.webp','/img/products/1.webp', ],
      'price': '191 300',
      'oldprice': '231 300',
      'stick': ['#A83BB1', 'Хит продаж']
    },


  ]

