-
  const replace = [
    {
      'address': 'ул. Череповецкая д. 5/14',
      'props': [
        'Тип шлагбаума: шлаг',
        'Режим использования: Ограниченный (10 проездов в сутки)',
      ],
    },
    {
      'address': 'ул. Генерала Артемьева д. 12',
      'props': [
        'Тип шлагбаума: шлаг',
        'Режим использования: Безлимитный',
      ],
    },

  ]

