-
  const transaction = [
    {
      'name': 'Пополнение счёта № 384',
      'date': '2020-10-20 14:40:50',
      'val': '+ 1 800 руб.',
      'type': 1
    },
    {
      'name': 'Списание средств № 384',
      'date': '2020-10-20 14:40:50',
      'val': '- 800 руб.',
      'type': 0
    },
    {
      'name': 'Начисление бонусов № 384',
      'date': '2020-10-20 14:40:50',
      'val': '+ 180 руб.',
      'type': 1
    },
    {
      'name': 'Списание средств № 384',
      'date': '2020-10-20 14:40:50',
      'val': '- 350 руб.',
      'type': 0
    },
    {
      'name': 'Списание средств № 384',
      'date': '2020-10-20 14:40:50',
      'val': '- 150 руб.',
      'type': 0
    },
    {
      'name': 'Списание средств № 384',
      'date': '2020-10-20 14:40:50',
      'val': '- 100 руб.',
      'type': 0
    },
    {
      'name': 'Списание средств № 384',
      'date': '2020-10-20 14:40:50',
      'val': '- 550 руб.',
      'type': 0
    },
  ]

