html {
    font-family: Montserrat, arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    background: #f4f4f4;
    color: #000;

    @media screen and (max-height: $w760) {
        font-size: rem(13);
    }

    @media screen and (max-width: $w1440) {
        font-size: 14px;
    }

    @media screen and (max-width: $w1280) {
        font-size: rem(13);
    }
}

body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

main {
    display: block;
    height: calc(100vh);
    overflow: hidden;

    @media screen and (max-width: $w940) {
        height: 100vh;
    }

    @media screen and (max-width: $w580) {
        height: calc(100vh - 5rem);
    }
}



.safari-navbar main:not(.main-full-height) {

    @media screen and (max-width: $w580) {
        height: calc(100vh - 10.1rem);
    }
}

.chrome-navbar main:not(.main-full-height) {

    @media screen and (max-width: $w580) {
        height: calc(100vh - 8.6rem);
    }
}

main.main-full-height {
    display: block;
    height: 100vh;
    overflow-y: auto;
}

.ymaps-2-1-78-copyrights-pane {
    display: none;
}


main .container {
    height: 100%;

    @media screen and (max-width: $w940) {
        padding: 0;
    }
}

.fancybox-slide {
    @media screen and (max-width: $w580) {
        padding-left: 0 !important;
        padding-right: 0 !important;
        display: flex !important;
        justify-content: flex-end;
        padding: 0;
    }
}

button:active,
button:hover,
input:active,
input:focus,
input:hover {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
    line-height: 130%;
    list-style-type: none;
}

h2 {
    font-size: rem(24);
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}



.hidden {
    overflow: hidden;

    @media screen and (min-width: $w1024) {
        margin-right: 17px;
    }
}

.hide {
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0;

    @media screen and (max-width: $w1280) {
        padding: 0 rem(30);
    }

    @media screen and (max-width: $w1024) {
        padding: 0 rem(25);
    }

    @media screen and (max-width: $w580) {
        padding: 0 rem(15);
    }
}

.pull-right {
    justify-content: flex-end !important;
}

.pull-left {
    justify-content: flex-start !important;
}

.fancybox-button {
    width: rem(50);
}

.fancybox-button svg {
    height: 30px;
}

.fancybox-button.fancybox-close-small svg path {
    fill: #b2b2b2;
}

.fancybox-button.fancybox-close-small:hover svg path {
    fill: $red;
}

.green {
    color: #00A711;
}

.red {
    color: $red;
}

#maps-container-select {

    @media screen and (min-width: $w580) {
        width: 90%;
        height: 90%;
    }

    @media screen and (max-width: $w580) {
        height: 90vh;
        padding: 0px;
        padding-top: 47px;
    }
}